body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f5f7;
  color: #333;
}

header {
  background-color: #d383d6;
  color: white;
  padding: 30px;
  text-align: center;
}

main {
  padding: 25px;
  max-width: 900px;
  margin: auto;
}

section {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 5px solid #d383d6;
  border-radius: 8px;
}

h1,
h2 {
  margin-top: 0;
}

button {
  background-color: #d383d6;
  color: rgb(16, 15, 15);
  border: 2pxsolid black;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #c1ebf0;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #eee;
}

.seccion-candidatos {
  background-color: rgb(238, 230, 230);
  padding: 25px;
  border-radius: 12px;
  margin-top: 25px;
}

.contenedor-candidatos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 18px;
  margin-top: 20px;
}

.tarjeta-candidato {
  border: 1px solid #ddd;
  border-left: 5px solid #d383d6;
  border-radius: 10px;
  padding: 18px;
  background-color: #fff;
}

.tarjeta-candidato h3 {
  color: #d383d6;
  margin-top: 0;
}

.tarjeta-candidato button {
  margin-top: 10px;
  background-color: #d383d6;
  color: rgb(15, 15, 15);
  border: 2px solid black;
  padding: 10px 14px;
  border-radius: 8px; 
  cursor: pointer;
}

.tarjeta-candidato button:hover {
  background-color: #c1ebf0;
}

.detalle-perfil {
  margin-top: 20px;
  padding: 15px;
  background-color: #F9EEF3;
  border-left: 5px solid #d383d6;
  border-radius: 8px;

}

.formulario-candidato input,
.formulario-candidato textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#mensajeGuardado {
  margin-top: 12px;
  font-weight: bold;
  color: #8A1538;
}

.tarjeta-guardada {
  margin-top: 12px;
  padding: 12px;
  border-left: 5px solid #8A1538;
  background-color: #F9EEF3;
  border-radius: 8px;
}

.barra-resultado {
  width: 100%;
  background-color: #F9EEF3;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 8px;
}

.barra-porcentaje {
  height: 18px;
  background-color: #8A1538;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

main label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  color: #8A1538;
}

main input,
main textarea,
main select {
  width: 100%;
  box-sizing: border-box;
  margin-top: 6px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#mensajeAlerta {
  margin-top: 12px;
  font-weight: bold;
  color: #8A1538;
}