body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f5f7;
  color: #333;
}

header {
  background-color: #be1bb0;
  color: white;
  padding: 30px;
  text-align: center;
}

main {
  padding: 25px;
  max-width: 900px;
  margin: auto;
}

section {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 5px solid #C2185B;
  border-radius: 8px;
}

h1,
h2 {
  margin-top: 0;
}

button {
  background-color: #25cbcb;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #ca2ab4;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #eee;
}